<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Auction App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>

    {% block extra_styles %}{% endblock %}
</head>
<body>
    <!-- Navigation Bar -->
    <header>
        <div class="navContainer">
            <div class="logoAndNavBar">
                <div class="logoText">
                    <h1 class="logo">Auction App</h1>
                </div>
                <div class="nav-center-container">
                    <div class="navBar">
                        <nav>
                            <ul>
                                <li><a class="nav-link" href="{{ url_for('user_router.index') }}">Home</a></li>
                                <li><a class="nav-link" href="{{ url_for('auction_router.list_auctions') }}">Auctions</a></li>
                                <li><a class="nav-link" href="{{ url_for('user_router.about') }}">About</a></li>
                                <li><a class="nav-link" href="{{ url_for('user_router.contact') }}">Contact</a></li>
                                {% if is_authenticated() or current_user and current_user.is_active %}
                                    <li><a class="nav-link" href="{{ url_for('user_router.profile') }}">Profile</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="login-logout">
                    {% if is_authenticated() %}
                        <a class="call-to-action-btn" href="{{ url_for('auth_router.logout') }}">Logout</a>
                    {% else %}
                        <a class="call-to-action-btn" href="{{ url_for('auth_router.login') }}">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <!-- Flash Messages in fixed position-->
        <div id="flash-container" style="position: fixed; top: 20px; right: 20px; z-index: 1000;">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="flash-message alert-{{ category }}"
                            style="padding: 15px; margin-bottom: 15px; border-radius: 4px; min-width: 300px; position: relative; background-color: #dddddd">
                            {{ message }}
                            <span class="close-flash" style="position: absolute; top: 5px; right: 10px; cursor: pointer; font-size: 1.5em;">&times;</span>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

    <!-- Main Content -->
    <div class="mainContainer">

        {% block content %}
        <!-- Content will be injected here -->
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="footerContainer">
            <span>&copy; 2025 Auction App. All rights reserved.</span>
        </div>
    </footer>

    <script>
        const socket = io({
            transports: ['websocket'],
            upgrade: false,
            reconnectionAttempts: 5,
            reconnectionDelay: 1000
        });
        console.log("Socket.IO connected", socket.connected);

        // Debugging events
        socket.on('connect', () => {
            console.log('Socket connected with ID:', socket.id);
        });

        socket.on('disconnect', (reason) => {
            console.log('Socket disconnected:', reason);
        });

        socket.on('connect_error', (error) => {
            console.log('socket connection error:', error);
        });
    </script>
    <script>
        window.CLOUDINARY_CLOUD_NAME = "{{ config['CLOUDINARY_CLOUD_NAME'] }}";
        window.CLOUDINARY_UNSIGNED_PRESET = "{{ config['CLOUDINARY_UNSIGNED_PRESET'] }}";
    </script>
    <script src="{{ url_for('static', filename='js/cloudinary.js') }}?v={{ range(1, 10000) | random }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}?v={{ range(1, 10000) | random }}"></script>
</body>
</html>
